
body {
    border: 5px double greenyellow;
    padding: 1px 15px;
    width: 700px;
}
h1 {
color: blueviolet;
background-color: rgb(131, 163, 223);
width: 110px;
border: 2px solid grey;
padding: 10px 10px;
}
p {
    color: rgb(104, 186, 134);
    border: 5px dotted rgb(213, 106, 186);
    width: 600px;
    padding: 10px 10px;
    font-size: 20px;
}
ul {
    border: 5px double;
    background-color: bisque;
    padding: 10px 20px;
    width: 380px;
font-size: 20px;
}
li {
    color: blueviolet;
    font-size: 18px;
}